doctype
html
  head
    meta(charset='utf-8')
    title GIF 채팅방
body 
  div F12를 눌러 console 탭과 네트워크 탭을 확인하세요div
  script.
    //웹 소켓 스크립트 부분
    var webSocket = new WebSocket('ws://localhost:8005'); //프론트에서 new Websocket('~~~8005') 하는 순간 socket.js의 커넥션이 맺어짐. 새로고침 시 close이벤트 발생하여 클라이언트 접속 해제 콘솔창에 뜸.
    webSocket.onopen = function(){ //양방향 연결이 성공하면 프론트에서는 onopen 이벤트가 발생, 서버에서는 socket.js의 connection 이벤트가 발생.
      console.log('서버와 웹 소켓 연결 성공');
    };
    webSocket.onmessage = function(event){
      console.log(event.data); //socket.js에서 ws.send를 하게되면 서버에서 보낸 정보가 event인자를 통해 들어오게 된다.
      webSocket.send('클라이언트에서 서버로 답장을 보냅니다.');  //그럼 프론트의 webSocket.send 에서 보낸 것은 socket.js의 ws.on(message)로 들어가게 되는 것이다.
    };   //이런 식으로 프론트와 서버와 양방향 소통을 하게 된다.
